{% extends "base.jinja" %}


{{% block title %}} {{mountain.name}} - Interactive Map{{% endblock %}}

{{% block body %}}

{# This page is too complicated to write a full test template for, just #}
{# follow the requirements doc and pray #}

<h1>Map of {{mountain.name}}</h1>

<h2>Trails</h2>
<ul>
  {{% for trail in mountain.trails %}}
    <li>{{trail.name}}</li>
  {{% endfor %}}
</ul>